*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100px;
    height: 100px;
}

#main{
    width: 100px;
    background-color: #fff;
}

#home{
    width: 100px;
    min-height: 100vh;
    background-color: #fff;
}
